body {
  background: #050505;
  color: #33ff33;
  font-family: "Fira Code", monospace;
}

#terminal {
  padding: 20px;
}

#output {
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.line {
  display: flex;
}

.prompt {
  margin-right: 8px;
  color: #00ff9c;
}

input {
  background: transparent;
  border: none;
  outline: none;
  color: #33ff33;
  font-family: inherit;
  flex: 1;
}